.btn {
  width: 200px;
  border-radius: 8px;
  padding: 8px;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;

  &.primary {
    background-color: rgba(42, 92, 241, 0.95);
    color:white;
  }
  &.secondary {
    background-color: white;
    border: 2px solid  rgba(42, 92, 241, 0.95);
  }
  &.danger {
    background-color: red;
    color: white;
  }
  &:disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }
}
